.container {
  width: 100vw;
  height: 548px;
  padding: 80px 224px;
  background-color: #000;
  color: #fff;

  > .top {
    display: flex;
    justify-content: space-between;

    > a {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      gap: 8px;
      padding: 0 24px;
      border: 2px solid white;
      border-radius: 48px;

      &:hover {
        background-color: #6e6e6e;
        border-color: #d4d4d4;
        color: #d4d4d4;
      }
    }
  }
  > .middle {
    display: flex;
    margin-top: 56px;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    padding: 64px 0;

    > .left,
    > .right {
      width: 50%;
    }
    > .right {
      > .links {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        > .icon {
          border: 2px solid #fff;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          padding: 6px;
          cursor: pointer;

          &:hover {
            background-color: #6e6e6e;
            border-color: #d4d4d4;
            color: #d4d4d4;
          }
        }
      }
    }
  }
  > .middle {
    > .left {
      display: flex;

      > .navs {
        flex: 1;

        > .title {
          color: #9b9b9b;
          cursor: auto;
          display: block;
          font-size: 10px;
          font-weight: 400;
          font-weight: 600;
          line-height: 18px;
          margin: 0 0 24px;
          text-decoration: none;
          text-transform: uppercase;
        }
        > .menus {
          display: flex;
          flex-direction: column;

          > .menu {
            color: #fff;
            font-family: Noto-regional, Noto-latin, TCCC-UnityText;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-decoration: none;
            cursor: pointer;

            &:not(:first-child) {
              margin-top: 16px;
            }
          }
        }
      }
    }
  }
  > .bottom {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-size: 12px;
    line-height: 18px;
    margin-top: 56px;
  }
}
