.container {
  display: contents;
  position: relative;
  margin-bottom: 20px;

  > .banner {
    position: relative;
    width: 1800;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center;
    background-size: cover; // 배경 이미지가 컨테이너를 꽉 채우도록 설정
    background-repeat: no-repeat; // 이미지 반복 없음

    // 이미지 사이즈 조절하면서 변경하면 됨
    .bannerTitle {
      color: white;
      font-size: 38px;
      line-height: 48px;
      padding: 10px 20px;
      position: absolute;
    }
  }

  > .effort {
    display: block;
    text-align: center;
    margin-top: 120px;

    // font-style 별도 지정 X
    .effortTitle {
      font-size: 38px;
      line-height: 48px;
    }

    .effortText {
      margin-top: 24px;
      margin: 16px 0 0;
      font-size: 16px;
      font-weight: bolder;
      line-height: 26px;
      text-align: center;
    }
  }
}
